<div class="battlefield">
    <div class="field field1">
        <div class="player-info player1">
            <h3 class="user-name">Виктор</h3>
        </div>
        <div class="field-row">
            <div class="grid-legend x-axis">
                <div class="letter" data-colnum=1>а</div>
                <div class="letter" data-colnum=2>б</div>
                <div class="letter" data-colnum=3>в</div>
                <div class="letter" data-colnum=4>г</div>
                <div class="letter" data-colnum=5>д</div>
                <div class="letter" data-colnum=6>е</div>
                <div class="letter" data-colnum=7>ж</div>
                <div class="letter" data-colnum=8>з</div>
                <div class="letter" data-colnum=9>и</div>
                <div class="letter" data-colnum=10>к</div>
            </div>
        </div>
        <div class="field-row">
            <div class="grid-legend y-axis">
                <div class="letter" data-rownum=1>1</div>
                <div class="letter" data-rownum=2>2</div>
                <div class="letter" data-rownum=3>3</div>
                <div class="letter" data-rownum=4>4</div>
                <div class="letter" data-rownum=5>5</div>
                <div class="letter" data-rownum=6>6</div>
                <div class="letter" data-rownum=7>7</div>
                <div class="letter" data-rownum=8>8</div>
                <div class="letter" data-rownum=9>9</div>
                <div class="letter" data-rownum=10>10</div>
            </div>
            <div class="grid">
                <div class="row" data-rownumber="1">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6">
                        <span class="blank" data-usershotnum="2"></span>
                    </div>
                    <div class="col" data-colnumber="7">
                        <span class="ship hit" data-shipname="4deck-1" data-usershotnum="3"></span>
                    </div>
                    <div class="col" data-colnumber="8">
                        <span class="ship hit" data-shipname="4deck-1" data-usershotnum="4"></span>
                    </div>
                    <div class="col" data-colnumber="9">
                        <span class="ship hit" data-shipname="4deck-1" data-usershotnum="5"></span>
                    </div>
                    <div class="col" data-colnumber="10">
                        <span class="ship hit" data-shipname="4deck-1" data-usershotnum="6"></span>
                    </div>
                </div>
                <div class="row" data-rownumber="2">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6">
                        <span class="blank" data-usershotnum="1"></span>
                    </div>
                    <div class="col" data-colnumber="7">
                        <span class="blank"></span>
                    </div>
                    <div class="col" data-colnumber="8">
                        <span class="blank"></span>
                    </div>
                    <div class="col" data-colnumber="9">
                        <span class="blank"></span>
                    </div>
                    <div class="col" data-colnumber="10">
                        <span class="blank"></span>
                    </div>
                </div>
                <div class="row" data-rownumber="3">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6"></div>
                    <div class="col" data-colnumber="7"></div>
                    <div class="col" data-colnumber="8"></div>
                    <div class="col" data-colnumber="9"></div>
                    <div class="col" data-colnumber="10"></div>
                </div>
                <div class="row" data-rownumber="4">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6"></div>
                    <div class="col" data-colnumber="7"></div>
                    <div class="col" data-colnumber="8"></div>
                    <div class="col" data-colnumber="9"></div>
                    <div class="col" data-colnumber="10"></div>
                </div>
                <div class="row" data-rownumber="5">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6"></div>
                    <div class="col" data-colnumber="7"></div>
                    <div class="col" data-colnumber="8"></div>
                    <div class="col" data-colnumber="9"></div>
                    <div class="col" data-colnumber="10"></div>
                </div>
                <div class="row" data-rownumber="6">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6"></div>
                    <div class="col" data-colnumber="7"></div>
                    <div class="col" data-colnumber="8"></div>
                    <div class="col" data-colnumber="9"></div>
                    <div class="col" data-colnumber="10"></div>
                </div>
                <div class="row" data-rownumber="7">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6"></div>
                    <div class="col" data-colnumber="7"></div>
                    <div class="col" data-colnumber="8"></div>
                    <div class="col" data-colnumber="9"></div>
                    <div class="col" data-colnumber="10"></div>
                </div>
                <div class="row" data-rownumber="8">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6"></div>
                    <div class="col" data-colnumber="7"></div>
                    <div class="col" data-colnumber="8"></div>
                    <div class="col" data-colnumber="9"></div>
                    <div class="col" data-colnumber="10"></div>
                </div>
                <div class="row" data-rownumber="9">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6"></div>
                    <div class="col" data-colnumber="7"></div>
                    <div class="col" data-colnumber="8"></div>
                    <div class="col" data-colnumber="9"></div>
                    <div class="col" data-colnumber="10"></div>
                </div>
                <div class="row" data-rownumber="10">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6"></div>
                    <div class="col" data-colnumber="7"></div>
                    <div class="col" data-colnumber="8"></div>
                    <div class="col" data-colnumber="9"></div>
                    <div class="col" data-colnumber="10"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="field field2">
        <div class="player-info player2">
            <h3 class="user-name">Компьютер</h3>
        </div>
        <div class="field-row">
            <div class="grid-legend x-axis">
                <div class="letter" data-colnum=1>а</div>
                <div class="letter" data-colnum=2>б</div>
                <div class="letter" data-colnum=3>в</div>
                <div class="letter" data-colnum=4>г</div>
                <div class="letter" data-colnum=5>д</div>
                <div class="letter" data-colnum=6>е</div>
                <div class="letter" data-colnum=7>ж</div>
                <div class="letter" data-colnum=8>з</div>
                <div class="letter" data-colnum=9>и</div>
                <div class="letter" data-colnum=10>к</div>
            </div>
        </div>
        <div class="field-row">
            <div class="grid-legend y-axis">
                <div class="letter" data-rownum=1>1</div>
                <div class="letter" data-rownum=2>2</div>
                <div class="letter" data-rownum=3>3</div>
                <div class="letter" data-rownum=4>4</div>
                <div class="letter" data-rownum=5>5</div>
                <div class="letter" data-rownum=6>6</div>
                <div class="letter" data-rownum=7>7</div>
                <div class="letter" data-rownum=8>8</div>
                <div class="letter" data-rownum=9>9</div>
                <div class="letter" data-rownum=10>10</div>
            </div>
            <div class="grid">
                <div class="row" data-rownumber="1">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6">
                        <span class="blank" data-usershotnum="2"></span>
                    </div>
                    <div class="col" data-colnumber="7">
                        <span class="ship hit" data-shipname="4deck-1" data-usershotnum="3"></span>
                    </div>
                    <div class="col" data-colnumber="8">
                        <span class="ship hit" data-shipname="4deck-1" data-usershotnum="4"></span>
                    </div>
                    <div class="col" data-colnumber="9">
                        <span class="ship hit" data-shipname="4deck-1" data-usershotnum="5"></span>
                    </div>
                    <div class="col" data-colnumber="10">
                        <span class="ship hit" data-shipname="4deck-1" data-usershotnum="6"></span>
                    </div>
                </div>
                <div class="row" data-rownumber="2">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6">
                        <span class="blank" data-usershotnum="1"></span>
                    </div>
                    <div class="col" data-colnumber="7">
                        <span class="blank"></span>
                    </div>
                    <div class="col" data-colnumber="8">
                        <span class="blank"></span>
                    </div>
                    <div class="col" data-colnumber="9">
                        <span class="blank"></span>
                    </div>
                    <div class="col" data-colnumber="10">
                        <span class="blank"></span>
                    </div>
                </div>
                <div class="row" data-rownumber="3">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6"></div>
                    <div class="col" data-colnumber="7"></div>
                    <div class="col" data-colnumber="8"></div>
                    <div class="col" data-colnumber="9"></div>
                    <div class="col" data-colnumber="10"></div>
                </div>
                <div class="row" data-rownumber="4">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6"></div>
                    <div class="col" data-colnumber="7"></div>
                    <div class="col" data-colnumber="8"></div>
                    <div class="col" data-colnumber="9"></div>
                    <div class="col" data-colnumber="10"></div>
                </div>
                <div class="row" data-rownumber="5">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6"></div>
                    <div class="col" data-colnumber="7"></div>
                    <div class="col" data-colnumber="8"></div>
                    <div class="col" data-colnumber="9"></div>
                    <div class="col" data-colnumber="10"></div>
                </div>
                <div class="row" data-rownumber="6">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6"></div>
                    <div class="col" data-colnumber="7"></div>
                    <div class="col" data-colnumber="8"></div>
                    <div class="col" data-colnumber="9"></div>
                    <div class="col" data-colnumber="10"></div>
                </div>
                <div class="row" data-rownumber="7">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6"></div>
                    <div class="col" data-colnumber="7"></div>
                    <div class="col" data-colnumber="8"></div>
                    <div class="col" data-colnumber="9"></div>
                    <div class="col" data-colnumber="10"></div>
                </div>
                <div class="row" data-rownumber="8">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6"></div>
                    <div class="col" data-colnumber="7"></div>
                    <div class="col" data-colnumber="8"></div>
                    <div class="col" data-colnumber="9"></div>
                    <div class="col" data-colnumber="10"></div>
                </div>
                <div class="row" data-rownumber="9">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6"></div>
                    <div class="col" data-colnumber="7"></div>
                    <div class="col" data-colnumber="8"></div>
                    <div class="col" data-colnumber="9"></div>
                    <div class="col" data-colnumber="10"></div>
                </div>
                <div class="row" data-rownumber="10">
                    <div class="col" data-colnumber="1"></div>
                    <div class="col" data-colnumber="2"></div>
                    <div class="col" data-colnumber="3"></div>
                    <div class="col" data-colnumber="4"></div>
                    <div class="col" data-colnumber="5"></div>
                    <div class="col" data-colnumber="6"></div>
                    <div class="col" data-colnumber="7"></div>
                    <div class="col" data-colnumber="8"></div>
                    <div class="col" data-colnumber="9"></div>
                    <div class="col" data-colnumber="10"></div>
                </div>
            </div>
        </div>
    </div>
</div>