<div class="welcome-scene">
    <form>
        <div>
            <h1>Добро пожаловать</h1>
        </div>
        <div>
            <input id="player-name" placeholder="Представтесь пожалуйста" type="text">
        </div>
        <div>
            <button id="btn-start" class="btn blue btn-start" type="button">Играть</button>
        </div>
    </form>
</div>