/*


HEX: #cfe0e8

HEX: #b7d7e8

HEX: #87bdd8

HEX: #daebe8

*/
/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* set global font to Open Sans */
body {
  font-family: 'Open Sans', 'sans-serif';
  background-image: url("http://benague.ca/files/pw_pattern.png");
  background-color: #cfe0e8;
}

html,
body {
  height: 120%;
  margin: 0px;
  padding: 0px;
}

/* button div */
#buttons {
  padding-top: 50px;
  text-align: center;
}

/* start da css for da buttons */
.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  /* background-color: #55acee; */
  background-color: #87bdd8;
  box-shadow: 0px 5px 0px 0px #87bdda;
}

.blue:hover {
  background-color: #6FC6FF;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}

.purple {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
  background-color: #B573D0;
}

.orange {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
  background-color: #FF983C;
}

.yellow {
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
  background-color: #FFDE29;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.battlefield {
  display: flex;
  justify-content: space-around;
}

.field {
  height: 500px;
  width: 500px;
  margin-bottom: 25px;
  margin-top: 25px;

  .player-info {
    color: #87bdd8;
    font-weight: 400
  }
}

.welcome-scene {
  form {
    justify-content: center;

    div {
      width: 100%;
      text-align: center;

      input {
        width: 100%;
      }
    }

    h1 {
      font-size: 70px;
      font-family: Arial;
      color: #5b6569;
    }
  }

  #btn-start {
    margin-top: 50px;
  }
}

.battlefield {
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.player-info {
  margin-left: 50px;
}

.player1 {}

.player2 {}

.field {
  margin: 25px auto 25px auto;
  display: flex;
  flex-direction: column;

  .field-row {
    display: inherit;

    .x-axis {
      align-self: flex-start;
      margin-left: 50px;
      text-align: center;
    }

    .y-axis {
      flex-direction: column;
    }
  }
}

.field1 {

  .grid {
    background-color: #8fcae5;
  }
}

.field2 {

  .grid {
    background-color: #8fcae5;
  }
}

.grid-legend {
  display: flex;

  .letter {
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    display: inherit;
    font-weight: 300;
    font-size: 22px;
    color: #8d9db6;

  }
}



.y-axis {}

.grid {}

.row {
  display: flex;
}

.col {
  border: solid #97a3a8 1px;
  width: 48px;
  height: 48px;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;

  // span.shoot-hit {
  //   height: 35px;
  //   width: 35px;
  //   background-color: #667292;
  // }


  span.blank {
    background-color: #f1e3dd;
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
}

.ship {
  background-color: #667292;
  width: 100%;
  height: 100%;
}

.hit {
  background-color: #c83349;
}

.winner {
  justify-content: center;
  text-align: center;
  color: #5b6569;

  .name {
    font-size: 70px;
  }

  .congratz {
    font-size: 50px;
  }

}